
configuration {
    modi: "drun,run,window,ssh,websites:~/.config/rofi/websites.sh";  // Modes to show in rofi
    font: "SF Mono 16";          // Font used in rofi
    show-icons: true;              // Display icons next to application names
}

window {
    width: 50%;                    // Window width as a percentage of the screen
}
@theme "/themes/banbury.rasi"
